.destination-container {
    display: flex;
    flex-wrap: wrap;
}

.destination-item .position-relative {
    border-radius: 8px;
}

.destination-item {
    position: relative;
    overflow: hidden;
}

.destination-item img {
    width: 100%;
    height: 200px;
    /* Đặt chiều cao cố định cho hình ảnh */
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5); */
}

.img-fluid {
    border-radius: 5px;
    /* height: 200px; */
}
.image img {
    height: 500px;
}

.sidebar {
    background-color: #f8f9fa;
    /* Màu nền sidebar */
    padding: 20px;
    border-radius: 5px;
}

.sidebar h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar img {
    border-radius: 5px; /* Bo tròn các góc ảnh */
    transition: transform 0.3s; /* Hiệu ứng chuyển đổi khi hover */
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của cột */
    height: 100px; /* Giữ nguyên tỉ lệ khung hình */
    object-fit: cover; /* Cắt ảnh để vừa khung mà không bị biến dạng */
}

.sidebar img:hover {
    transform: scale(1.05); /* Phóng to ảnh khi hover */
}

.filter-form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-form .form-label {
    font-weight: 600;
}

.filter-form .form-control {
    border-radius: 5px;
}

.filter-form button {
    border-radius: 5px;
    font-weight: bold;
}

.filter-form .form-control::placeholder {
    font-style: italic;
    color: #999;
}

.filter-header {
    background-color: #999;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
}

.destination-item .position-relative {
    border-radius: 8px;
}

.pagination {
    padding: 20px;
}

.pagination .page-item {
    margin-left: 10px;
    margin-right: 10px;
}

.pagination .page-item .page-link {
    border-radius: 8px;
    padding: 10px 15px;
}
